@page
@model TokenService.Pages.ApproveModel
@{
    ViewData["Title"] = "Approve";
}

<h1>Approve</h1>

<div></div>
<form method="post">
    <button id="Authorize" type="submit">Authorize</button>
    <button id="Cancel" type="submit">Cancel</button>
</form>