@page
@model TokenService.Pages.ApproveModel
@{
    ViewData["Title"] = "Approve";
}

<div class="jumbotron">
    <h1>Approve access</h1>
    <p class="lead"> @Model.Message  </p>
</div>

<form method="post" role="form" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button  type="submit" >Authorize</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button  type="submit"  >Cancel</button>
        </div>
    </div>
</form>