@page
@model IndexModel
@{
    ViewData["Title"] = "Grant My App World access to your resource.";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>In order to use My Web App you will need to authorize access to use your photos. Please click <a href="https://localhost:44306/auth?Response_Type=authorization_code&Client_Id=A12D3F38-89BB-42DB-925C-7D78D864C7E3&Client_Secret=bZGfydENxGcU6xH97CNpgV7MI337wR07YAjG2uwjgIA=&Redirect_Uri=https://localhost:44384/Private&Scope=photos&State=1234zyx">Authorize Access</a> to approve access to your resources.</p>
</div>
